<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>
    Hello from a static index page!
</h1>

<img src="https://via.placeholder.com/150">

<!--
     to make a link to our second.html, we need to
     add an anchor tag that references the relative path
     to the html file
-->

<!--
    here we will need to add a form
    this form will accept user input and do something with it
    perhaps we can build a customer from user input?
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form
-->

<ul th:each="customer: ${customers}">
    <li th:text="${customer.firstName}"></li>
    <li th:text="${customer.lastName}"></li>
    <li th:text="${customer.id}"></li>
</ul>

</body>
</html>