.flex-container {
  /* this allows the container to be flex */
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: dodgerblue;
}

.flex-container > div {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
